*.dll
*.pdb
*.nupkg
*.suo
*.sdf
*.opensdf
*.user
*.tlog
*.obj
*.res
*.cache
*.pch
*.ipch
*.manifest
*.log
*.lastbuildstate
*.bi
*.lib
*.idb
*.ldf
*.scssc
*.mdf
*.metagen
.sass-cache/
_ReSharper.*/
bin/
obj/
packages/
node_modules/
*.DotSettings
*.playlist
TestResults/