@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:chriscore361@googlemail.com">chriscore361@googlemail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/chriscore/">https://github.com/chriscore/</a>
</address>