@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Predictive Text with MarkovSharp</h1>
    <p class="lead">MarkovSharp is an easy to use C# implementation of an N-state Markov model.</p>
    <p><a href="https://github.com/chriscore/MarkovSharp" class="btn btn-primary btn-lg">MarkovSharp on Github &raquo;</a></p>
</div>

<div class="row">
        <h2>1) Train a Model</h2>
        <p>
            Enter training data for the model here, then click train.
        </p>
        <p>
            <textarea id="training-input" class="input-sm col-md-12"></textarea>
        </p>
        <p>
            <button id="train-button" onclick="Train()" class="col-md-12">Train!</button>
        </p>
</div>
<div class="row">
        <h2>2) Try it out</h2>
        <p>Type text in below and optionally choose suggested predictions.</p>
        <p>
            <textarea id="testing-input" class="input-lg col-md-12"></textarea>
        </p>
        <p>
            <button id="suggestion-1" class="col-md-4">-</button>
            <button id="suggestion-2" class="col-md-4">-</button>
            <button id="suggestion-3" class="col-md-4">-</button>
        </p>
</div>